<div class="test-center">
    <div class="largenumber text-center d-inline-block"><%= number %></div>
    <br>
    <div class="largetext text-center d-inline-block"><%= title %></div> 
    <br>
    <div class="smalltext text-center d-inline-block"><%= subtitle%></div>
</div>

 