<div class="container-fluid streamer-info-container winner">
    <div class="crown-container">
    <div class="crown">
    <img src="/images/crown.png">
    </div>


    </div>
        <div class="row">
            <div class="col">
                <div style="border-radius: 50%; border-color:#DAB9DF; border-width: 2px; height:120px; width:120px; margin-bottom: 24px; margin-top:12px; overflow: hidden; margin-left:auto; margin-right:auto;">
                    <img id="streamer-1-logo" style="max-width: 100%; max-height: 100%;" src="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <span class="streamer-username" id="streamer-1-user_name" >JinriTV</span>
                </div>
            </div>
        </div>
        <div class="row socials-container">
            <div class="col">
                <div >
                    <a id="streamer-1-ig_link">
                        <img style="max-width: 100%; max-height: 100%; padding-bottom: 12px;" src="/images/iglogo.png" />
                    </a>
                </div>
            </div>
            <div class="col">
            <div >
                <a id="streamer-1-twitch_link">
                    <img style="max-width: 100%; max-height: 100%; padding-bottom: 12px;" src="/images/twitchlogo.png" />
                </a>
            </div>
        </div>
        <div class="col">
        <div >
            <a id="streamer-1-twitter_link">
                <img style="max-width: 100%; max-height: 100%; padding-bottom: 12px;" src="/images/twitterlogo.png" />
            </a>
        </div>
    </div>
        </div>
        <div style="position: absolute; bottom: 0; margin-bottom:24px; left:0; right:0;">
  <span class="percent-match"><strong id="streamer-1-match">98</strong>%</span>
</div>
  </div>