<div class="container-fluid streamer-info-container winner p-2">
    <div class="crown-container">
        <div class="crown">
            <img src="/images/crown.png">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img id="streamer-1-logo" style="max-width: 100%; height: 100%; border-radius:50%" src="" />
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="row mt-3">
                <div class="col">
                    <span class="streamer-username" id="streamer-1-user_name">JinriTV</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div>
                        <span class="streamer-bio" id=<%=`streamer-1-bio`%>>bio here</span>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div>
                        <span class="streamer-languages" id=<%=`streamer-1-languages`%>>languages here</span>
                    </div>
                </div>
            </div>
            <div class="row socials-container mb-4">
                <div class="col">
                 
                </div>
                <div class="col">
                    <div>
                        <a id="streamer-1-twitch_link" target="_blank">
                            <img src="/images/twitchlogo.png" />
                        </a>
                    </div>
                </div>
                <div class="col">
                   
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="percent-match"><strong id="streamer-1-match">98</strong>%</span>
                </div>
            </div>
        </div>
    </div>
</div>