    <div class="page-footer">
      <div class="container d-flex justify-content-between">
        <span class="footer-text">About | Submit your stream | Contribute to the project</span>
        <span class="footer-text">Copyright 2021</span>
        <div onclick="toggleDarkMode()" id="dark-mode-toggle">
          <span id="theme-icon"></span>
          <span id="theme-label"></span>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->

    <!-- Core theme JS-->
    <script src="/javascripts/bootstrap-slider.min.js"></script>
    <script src="/javascripts/html_helpers.js"></script>
    <script src="/javascripts/create_quiz.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/jquery-clock-timepicker.min.js"></script>
    <script src="/starry-rating/starry.min.js"></script>
  </body>

  <!-- Generated Modal (questions are added here after page loads) -->
  <div class="modal fade" id="generated-quiz-modal" tabindex="-1" role="dialog">
    <!---
      the question pages are created and added in here after the page loads. Check the BuildQuiz() function
      in the create_quiz.js script file.
    -->
  </div>
</html>
