<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico?v=1.1" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap" rel="stylesheet">

    <!-- Animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css"
      integrity="sha256-6hqHMqXTVEds1R8HgKisLm3l/doneQs+rS1a5NLmwwo=" crossorigin="anonymous" />
    <link href="stylesheets/animations.css" rel="stylesheet" />

    <!-- Core theme CSS (includes Bootstrap) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="stylesheets/bootstrap-slider.css" rel="stylesheet" />

    <!-- Our custom CSS -->
    <link href="stylesheets/quizstyle.css" rel="stylesheet" />
    <link href="stylesheets/themes.css" rel="stylesheet" />
    <link href="starry-rating/starry.min.css" rel="stylesheet" />
  </head>

  <body id="page-top" class="light-mode">
    <header>
      <!-- Fixed navbar -->
      <div class="page-header">
        <div class="container d-flex justify-content-between" id="logo-container">
          <a href="https://streamer-match-maker.herokuapp.com" class="navbar-brand d-flex align-items-center">
            <img src="./images/logo.svg" style="width:45px;height:45px;margin-right:10px;" id="TwiriLogo" />
            <span id="logoText"></span>
          </a>
          <a class="navbar-brand d-flex align-items-center">
            <div id="generated-language-dropdown">
            </div>
          </a>
        </div>
      </div>
    </header>
