<div class="row mb-3 justify-content-center">
    <img style="width:50%;height:50%" src="/images/mascot.png"/>
</div>
<div class="row justify-content-center align-items-center">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <h4 class="loading-msg"><%=getText("loading-message")%></h4> 
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>