<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%- include ("./partials/stylesheets") %>
  </head>
  <body id="full-page" class="<% Theme %>">
    <main role="main" class="container d-flex justify-content-center">
      <div class="welcome-container">
        <p style="font-size: 100px; font-weight: bold;">About</p>
        <p style="font-size: 30px;">someone someone someone else</p>
      </div>
  </body>
</html>
