<!doctype html>
<html lang="en">
  <head> <link href="../stylesheets/about.css" rel="stylesheet" /> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body id="full-page" class="<% Theme %>">
    <div class="container">
      <div class="row about">
        <div class="col text-center">
          About Us
        </div>
      </div>
      <div class="row mainvideo text-center">
        <div class="col text-center">
          <img src = "https://s3-alpha-sig.figma.com/img/3312/5931/cb57ce7d60258832d38470e4a3c4f9b3?Expires=1617580800&Signature=c6zJqthYO3x1wUF~EeIBkKxtnBMGhXQENybEFiAx5gN2UpMduhJ8~yNdsQpYuR~PK2jazEXpKt1dkDjrp~l3CCS-MfWG4z-~Xf5c1ju3zS8W5kK434Dlphy2clEhLBzJwIKvV22Yu8ThpomDZ15MDGgiXdI-fnmW3pMDKcuvim0eid883lWq1gSTcaOZprzZGUUwQp-zJCP7uep~b-gRYG8ZY5yIha-g4Wbb~m78hWE6mVl8d5SbbMj4e5SEPfOZZggfza3617L6B1yPX9RW4ipfFVgkJhg-t20L74zeL5R7pXlaOldo2cFMeNM2~56DhmWZKhPKMTgBINc4hLu1GQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
        </div>
      </div>
      <div class="row rectangle">
        <div class="col-2">
          IMAGE
        </div>
        <div class="col-10 abouttwiri ">
          This is where you are here to listen to me talk about Twiri and how I started this programming
        </div>
      </div>
      <div class="row rectangle">
        <div class="col-2">
          IMAGE
        </div>
        <div class="col-10 abouttwiri">
          This is about JinriTV and how shes amazing at everythingggg :3
        </div>
      </div>
    </div>
    <div class="container background">
      <div class="row achievement text-center">
        <div class="col">
          Achievement
        </div>
      </div>
      <div class="row proudof text-center">
        <div class="col">
          We are proud of
        </div>
      </div>
      <div class="row">
        <div class="col-2 offset-1 text-center">
          <span class="largenumber text-center">20</span>
          <span class="largetext text-center">Users</span>
          <span class="smalltext text-center">Daily</span>
        </div>
        <div class="col-2 text-center">
          <span class="largenumber text-center">20</span>
          <span class="largetext text-center">Users</span>
          <span class="smalltext text-center">Daily</span>
        </div>
        <div class="col-2 text-center">
          <span class="largenumber text-center">20</span>
          <span class="largetext text-center">Users</span>
          <span class="smalltext text-center">Daily</span>
        </div>
        <div class="col-2 text-center">
          <span class="largenumber text-center">20</span>
          <span class="largetext text-center">Users</span>
          <span class="smalltext text-center">Daily</span>
        </div>
        <div class="col-2 text-center">
			<span class="largenumber text-center">5</span>
			<span class="largetext text-center">Star Rating</span>
			<span class="smalltext text-center">everywhere</span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        Events
      </div>
      <div class="row">
        More Videos
      </div>
      <div class="row">
        <div class="col">
          Streamer React on TWIRI
        </div>
        <div class="col">
          Jinri Talks about TWIRI
        </div>
        <div class="col">
          Viewers react on TWIRI
        </div>
      </div>
    </div>
  </body>
</html>
