<%- include ("./partials/header") %>
  <main role="main" class="container d-flex justify-content-center">
    <div class="welcome-container">
      <h1>Oops! Something went wrong.</h1>
      <p style="font-size: 30px;"><a href="/">Return home!</a></p>
    </div>
  </main>
<%- include ("./partials/footer") %>
