<!doctype html>
<html lang="en">
  <head>
    <title>Twiri Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%- include ("./partials/stylesheets") %>
  </head>
  <body id="full-page" class="bbbb <%= Theme %>">
  </body>
  <%- include ("./partials/scripts") %>
  <script src="/javascripts/bootstrap-slider.min.js"></script>
  <script src="/javascripts/setup.js"></script>
  <script src="/javascripts/confetti.js"></script>
  <script src="/javascripts/index.js"></script>
  <script src="/javascripts/jquery-clock-timepicker.min.js"></script>
  <script src="/starry-rating/starry.min.js"></script>
</html>
