<%- include ("./partials/header") %>
  <!-- Begin page content -->
  <main id="main-container" role="main" class="container">
    <div id="welcome-banner" style="z-index:777;" class="welcome-container row">
      <div id="welcome-text" style="z-index:777; opacity: 0;" class="col-lg-6">
        <div class="row animated-words-container align-items-center">
          <span>
            <span id="animated-words-label" class="animated-words dark-text"></span>
            <span class="animated-words" id="keyword"></span>
          </span>
        </div>
        <p class="info-text">
          Twiri helps you discover new Twitch streamers<br>who are just your type.
        </p>
        <span class="matches-made-text"><span id="num-matches">2000</span>+ matches made</span>
        <div class="row">
          <button type="button" onclick="openGeneratedQuizModal()" class="btn btn-start-quiz">
            <span id="find-streamer-button" style="font-size: 1.5em; color: cornsilk;"></span>
          </button>
        </div>
      </div>
      <div style="z-index:777;" class="col-lg-6 justify-content-center">
        <div class="detective" style="opacity:0;">
          <img class="img_detective" src="/images/mascot.png"/>
        </div>
      </div>
    </div>
    <div id="generated-result-page" style="z-index:500;" class="results-container"></div>
    <div class="background-container confetti-container">
      <img src="./images/streamer1.png" class="streamer-image profile-1">
      <img src="./images/streamer2.png" class="streamer-image profile-2">
      <img src="./images/streamer3.png" class="streamer-image profile-3">
      <img src="./images/streamer4.png" class="streamer-image profile-4">
      <img src="./images/streamer5.png" class="streamer-image profile-5">
      <img src="./images/streamer6.png" class="streamer-image profile-6">
      <img src="./images/streamer7.png" class="streamer-image profile-7">
      <img src="./images/streamer8.png" class="streamer-image profile-8">
      <div id="sm-circle" class="base-circle sphere-small"></div>
      <div id="md-circle" class="base-circle sphere-med"></div>
      <div id="lg-circle" class="base-circle sphere-lg"></div>
    </div>
    </div>
  </main>
<%- include ("./partials/footer") %>
