.ure_funny {
    max-width: 1440px;
}
.offsetText_hotshot { 
    transform: translate(0px,-20px); 
}

.about {
   /* About us */
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 300px;


/* or 30% */
display: flex;
align-items: center;

color: rgba(113, 2, 115, 0.2);
}

/* image 106 */
.mainvideo {
background: rgba(196, 196, 196, 0.2);
border-radius: 40px;
min-height: 500px;
margin:auto; 

}

.abouttwiri {
/* About Twiri */
width: 1029px;
height: 130px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 28px;
/* or 127% */
align-items: center;

color: #131212;
}

/* Rectangle 36 */

.rectangle {
background: #FFFFFF;
box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
border-radius: 15px;
margin: 25px 15px;
margin-bottom: 2ex;
}

.aboutus_img1 {
background: url(info.png);
}

.achievement {
    /* ACHIEVMENTS */

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 60px;
/* identical to box height, or 86% */
display: flex;
align-items: center;

color: #FFFFFF;
}

.background {
/* Rectangle 39 */
width:100%;
background: #670269;
}

.proudof {
    /* We are proud of */
font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 28px;
/* or 93% */
display: flex;
align-items: center;
text-align: center;
margin: 25px 15px;
margin-bottom: 2ex;
color: #FFFFFF;
}

.largenumber {
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 80px;
/* identical to box height, or 75% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
justify-content: space-evenly;
color: #FFFFFF;
}

.largetext {
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 25px;
/* identical to box height, or 240% */
display: flex;
letter-spacing: 0.05em;
justify-content: space-evenly;

color: #FFFFFF;
}

.smalltext {

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 20px;
/* identical to box height, or 300% */
display: flex; 
letter-spacing: 0.05em;
margin-bottom: 3rem;
justify-content: space-evenly;

color: #FDC510;

}

 /*timeline look*/
 .timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #006E51;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }
  
  .timelinecontainer {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
  }
  
  .timelinecontainer.left {
    left: 0;
  }
  
  .timelinecontainer.right {
    left: 50%;
  }
  
  .timelinecontainer::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid #006E51;
    border-radius: 16px;
    z-index: 1;
  }
  
  .timelinecontainer.right::after {
    left: -8px;
  }
  
  .timelinecontainer::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: #006E51;
    z-index: 1;
  }
  
  .timelinecontainer.right::before {
    left: 8px;
  }
  
  .timelinecontainer .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #006E51;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
  }
  
  .timelinecontainer.left .date {
    right: -75px;
  }
  
  .timelinecontainer.right .date {
    left: -75px;
  }
  
  .timelinecontainer .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: #F6D155;
    border: 2px solid #006E51;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    color: #006E51;
    z-index: 1;
  }
  
  .timelinecontainer.left .icon {
    right: 56px;
  }
  
  .timelinecontainer.right .icon {
    left: 56px;
  }
  
  .container .content {
    padding: 30px 90px 30px 30px;
    background: #F6D155;
    position: relative;
    border-radius: 0 500px 500px 0;
  }
  
  .timelinecontainer.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
  
  .timelinecontainer .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: #006E51;
  }
  
  .timelinecontainer .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
  
  @media (max-width: 767.98px) {
    .timeline::after {
      left: 90px;
    }
  
    .timelinecontainer {
      width: 100%;
      padding-left: 120px;
      padding-right: 30px;
    }
  
    .timelinecontainer.right {
      left: 0%;
    }
  
    .timelinecontainer.left::after, 
    .timelinecontainer.right::after {
      left: 82px;
    }
  
    .timelinecontainer.left::before,
    .timelinecontainer.right::before {
      left: 100px;
      border-color: transparent #006E51 transparent transparent;
    }
  
    .timelinecontainer.left .date,
    .timelinecontainer.right .date {
      right: auto;
      left: 15px;
    }
  
    .timelinecontainer.left .icon,
    .timelinecontainer.right .icon {
      right: auto;
      left: 146px;
    }
  
    .timelinecontainer.left .content,
    .timelinecontainer.right .content {
      padding: 30px 30px 30px 90px;
      border-radius: 500px 0 0 500px;
    }
  }