body {
  overflow: auto;
}

main {
  margin-top: 200px;
}

.JR {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 400px;
  line-height: 60px;
  /* identical to box height, or 15% */
  display: flex;
  align-items: center;
  color: var(--contributor-jr);
}

.contributors {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  /* or 100% */
  display: flex;
  flex-direction: column;
  color: var(--text-color-headline);
}

.title-description {
  width: 60%;
  font-size: 20px;
  color: var(--text-color-headline);
}

.offsetText_hotshot {
  transform: translate(-17px, -155px);
}

.offsetText_description_hotshot {
  transform: translate(-15px, -140px);
}

.contribution-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
}

.contributor-col-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contributor-row {
  margin-bottom: 30px;
}

.contributor-col {
  display: flex;
  justify-content: center;
}

.contributor-item {
  width: 70%;
  border: 1px solid #ccc;
  background: white;
  border-radius: 25px;
  box-shadow: 5px 5px 10px -6px rgb(155, 155, 155);
  overflow: hidden;
}

.contributor-item-left {
  padding: 0px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.contributor-item-right {
  padding: 15px;
  margin: auto;
}

.contributor-name {
  font-size: 17px;
  font-weight: bold;
}

.contributor-title {
  color: purple;
  font-weight: bold;
}

.contributor-desc {
  font-size: 15px;
}

.pt-contributor-container {
  width: 70%;
  margin-top: 50px;
  margin-bottom: 100px;
}

.pt-contributor-col-title {
  color: var(--text-color-headline);
}

.pt-contributor-item {
  width: 70%;
  border: 1px solid #ccc;
  background: white;
  border-radius: 15px;
  box-shadow: 5px 5px 10px -6px rgb(155, 155, 155);
  overflow: hidden;
  padding: 5px;
}

.carousel-row-item {
  width: 75%;
  position: relative;
  bottom: 90px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px -6px rgb(155, 155, 155);
  overflow: hidden;
}

.join-now-button {
  position: absolute;
  top: 105px;
  left: 85px;
  background-color: white;
  color: #580259;
  border-radius: 25px;
}

.join-now-button:active {
  position: absolute;
  top: 105px;
  left: 85px;
  background-color: #fb00ff;
  color: white;
  border-radius: 25px;
}

.carousel-item img {
  opacity: 70%;
}

.carousel-indicators li {
  position: relative;
  top: -70px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fa9cfc77;
}

.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #580259;
}

.break-row-at-2 {
  flex-basis: 0%;
  height: auto;
}

.break-row-at-3 {
  flex-basis: 100%;
  height: 0;
}

.css-circles {
  width: 100%;
  position: absolute;
}

.background-circle-1 {
  display: inline-block;
  position: absolute;
  top: 600px;
  left: -350px;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: var(--background-sphere-1);
}

.background-circle-2 {
  display: inline-block;
  position: absolute;
  top: 250px;
  right: 0px;
  width: 250px;
  height: 500px;
  border-radius: 500px 0 0 500px;
  background-color: var(--background-sphere-2);
}

@media (min-width: 769px) and (max-width: 1200px) {
  .contribution-page-container {
    display: flex;
    align-items: center;
    width: 90%;
  }

  .JR {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 350px;
    line-height: 60px;
    /* identical to box height, or 15% */
    display: flex;
    align-items: center;
  }

  .contributors {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
    /* or 100% */
    display: flex;
    flex-direction: column;
  }

  .title-description {
    width: 80%;
    font-size: 18px;
  }

  .offsetText_hotshot {
    transform: translate(-17px, -140px);
  }

  .offsetText_description_hotshot {
    transform: translate(-10px, -135px);
  }

  .contributor-item {
    width: 100%;
    border: 1px solid #ccc;
    background: white;
    border-radius: 25px;
    box-shadow: 5px 5px 10px -6px rgb(155, 155, 155);
    overflow: hidden;
    margin: auto;
  }

  .contributor-item-left {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .contributor-item-left img {
    width: 200px;
  }

  .carousel-row-item {
    width: 100%;
    position: relative;
    bottom: 95px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px -6px rgb(155, 155, 155);
    overflow: hidden;
  }

  .carousel-item img {
    opacity: 70%;
  }

  .carousel-indicators {
    bottom: 35px;
  }

  .carousel-indicators li {
    position: relative;
    top: -40px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fa9cfc77;
  }

  .join-now-button {
    position: absolute;
    top: 105px;
    left: 50px;
  }

  .join-now-button:active {
    position: absolute;
    top: 105px;
    left: 50px;
    background-color: #fb00ff;
    color: white;
    border-radius: 25px;
  }
}

@media (max-width: 768px) {
  .JR {
    font-size: 300px;
  }

  .contributors {
    font-size: 35px;
    line-height: 50px;
  }

  .contribution-page-container {
    display: flex;
    align-items: center;
    width: 90%;
  }

  .title-description {
    width: 80%;
    font-size: 18px;
  }

  .offsetText_hotshot {
    transform: translate(-35px, -130px);
  }

  .offsetText_description_hotshot {
    transform: translate(-5px, -130px);
  }

  .contributor-item {
    width: 100%;
    border: 1px solid #ccc;
    background: white;
    border-radius: 25px;
    box-shadow: 5px 5px 10px -6px rgb(155, 155, 155);
    overflow: hidden;
    margin-bottom: 20px;
  }

  .contributor-item-left {
    display: flex;
    justify-content: center;
  }

  .contributor-item-right {
    padding: 15px;
  }

  .contributor-row {
    margin-bottom: 0px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .col-6 {
    max-width: 100%;
  }

  .carousel-row-item {
    display: none;
  }

  .carousel-indicators {
    display: none;
  }

  .pt-contributor-container {
    margin-top: 50px;
    margin-bottom: 140px;
  }

  .pt-contributor-container .row {
    display: flex;
    flex-direction: row;
  }

  .pt-contributor-item {
    width: 200px;
    background: white;
  }

  .break-row-at-2 {
    flex-basis: 100%;
    height: 0;
  }

  .break-row-at-3 {
    flex-basis: 0%;
    height: auto;
  }

  .background-circle-1 {
    display: none;
  }

  .background-circle-2 {
    display: none;
  }

  .background-circle-3 {
    display: inline-block;
    position: absolute;
    top: 600px;
    right: 0px;
    width: 150px;
    height: 300px;
    border-radius: 300px 0 0 300px;
    background-color: var(--background-sphere-2);
  }

  .background-circle-4 {
    display: inline-block;
    position: absolute;
    top: 900px;
    left: -250px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--background-sphere-1);
  }

  .background-circle-5 {
    display: inline-block;
    position: absolute;
    top: 1750px;
    right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--background-sphere-1);
  }

  .background-circle-6 {
    display: inline-block;
    position: absolute;
    top: 2150px;
    left: -40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--background-sphere-2);
  }

  .background-circle-7 {
    display: inline-block;
    position: absolute;
    top: 2150px;
    right: 0px;
    width: 100px;
    height: 200px;
    border-radius: 300px 0 0 300px;
    background-color: var(--background-sphere-2);
  }
}
