body {
  overflow: auto;
}

main {
  margin-top: 200px;
}

.JR {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 400px;
  line-height: 60px;
  /* identical to box height, or 15% */
  display: flex;
  align-items: center;
  color: rgba(113, 2, 115, 0.14);
}

.contributors {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  /* or 100% */
  display: flex;
  flex-direction: column;
  color: #363636;
}

.title-description {
  width: 50%;
  font-size: 25px;
}

.offsetText_hotshot {
  transform: translate(-17px, -120px);
}

.offsetText_description_hotshot {
  transform: translate(-45px, -120px);
}

finding {
  /* Rectangle 37 */
  background: #ffffff;
  border-radius: 15px;
}

.contribution-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
}

.contributor-col-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contributor-row {
  margin-bottom: 30px;
}

.contributor-col {
  display: flex;
  justify-content: center;
}

.contributor-item {
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 5px 5px 10px -6px rgb(155, 155, 155);
  overflow: hidden;
}

.contributor-item-left {
  padding: 0px;
}

.contributor-item-right {
  padding: 15px;
  margin: auto;
}

.contributor-name {
  font-size: 17px;
  font-weight: bold;
}

.contributor-title {
  color: purple;
  font-weight: bold;
}

.contributor-desc {
}

.pt-contributor-container {
  width: 70%;
  margin-top: 50px;
  margin-bottom: 100px;
}

.pt-contributor-item {
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 5px 5px 10px -6px rgb(155, 155, 155);
  overflow: hidden;
  padding: 5px;
}

.carousel-row-item {
  width: 85%;
  position: relative;
  bottom: 90px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px 10px -6px rgb(155, 155, 155);
  overflow: hidden;
}

.join-now-button {
  position: absolute;
  top: 105px;
  left: 145px;
  color: #580259;
  border-radius: 25px;
}

.join-now-button:active {
  position: absolute;
  top: 105px;
  left: 145px;
  background-color: #fb00ff;
  color: white;
  border-radius: 25px;
}

.carousel-item img {
  opacity: 70%;
}

.carousel-indicators li {
  position: relative;
  top: -70px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fa9cfc77;
}

.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #580259;
}

.background-circle-1 {
  display: inline-block;
  position: absolute;
  top: 800px;
  left: -350px;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: rgba(113, 2, 115, 0.14);
}

@media (min-width: 769px) and (max-width: 1200px) {
  .contribution-page-container {
    display: flex;
    align-items: center;
    width: 90%;
  }

  .title-description {
    width: 80%;
    font-size: 23px;
  }

  .offsetText_description_hotshot {
    transform: translate(-55px, -120px);
  }

  .contributor-item {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 5px 5px 10px -6px rgb(155, 155, 155);
    overflow: hidden;
    margin: auto;
  }

  .contributor-item-right {
    padding: 15px;
    margin-left: 30px;
  }

  .carousel-indicators li {
    position: relative;
    top: -40px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fa9cfc77;
  }

  .join-now-button {
    position: absolute;
    top: 105px;
    left: 120px;
  }
}

@media (max-width: 768px) {
  img {
    width: 235px;
  }

  .JR {
    font-size: 300px;
  }

  .contributors {
    font-size: 40px;
  }

  .contribution-page-container {
    display: flex;
    align-items: center;
    width: 90%;
  }

  .title-description {
    width: 80%;
    font-size: 18px;
  }

  .offsetText_description_hotshot {
    transform: translate(-5px, -120px);
  }

  .contributor-item {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 5px 5px 10px -6px rgb(155, 155, 155);
    overflow: hidden;
    margin-bottom: 20px;
  }

  .contributor-item-right {
    padding: 15px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-6 {
    max-width: 100%;
  }

  .col-5 {
    max-width: 100%;
  }

  .carousel-row-item {
    display: none;
  }

  .carousel-indicators {
    display: none;
  }

  .pt-contributor-container {
    margin-top: 50px;
    margin-bottom: 140px;
  }

  .pt-contributor-container .row {
    display: flex;
    flex-direction: row;
  }

  .pt-contributor-item {
    width: auto;
    padding: 8px;
  }
}
