
* {
    font-family: 'Grandstander', cursive;
}

#dark-mode-toggle{
    cursor: pointer;
}

.dropdown-lang-icon {
    max-width: 34px;
    max-height: 34px;
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border-width: .125rem;
    border-style: solid;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn.disabled, .btn:disabled {
    opacity: .65;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 4rem 1rem-0.25rem;
    border-top: 0 solid;
    border-bottom-right-radius: .75rem;
    border-bottom-left-radius: .75rem;
}
.justify-content-center {
    justify-content: center !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1.2;
}
.h1, h1 {
    font-size: 2.5rem;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 0 solid;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: 0 solid;
    border-radius: .75rem;
    outline: 0;
}

.progress, .progress-bar {
    display: flex;
    overflow: hidden;
}

.progress {
    height: 1rem;
    font-size: .75rem;
    border-radius: .5rem;
}


.language-dropdown {
    width:100%;
    border-width: 2px;
    border-radius: 4px;
}
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.dropdown-item-container{
    padding-left:4px;
    padding-right:8px;
}

.dropdown-item {
    margin:4px;
    text-align: center;
}

.language-dropdown-text {
    margin-left: 4px;
}

.streamer-info-container {
    border-radius: 24px; 
    border-width: 2px; 
    border-style: solid;
}

.modal-footer{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right:0;
    margin-bottom: 12px;
}

.modal-body {
    position: relative;
    flex: none;
    padding: 4rem 1rem;
}

.slider.slider-horizontal {
    width: 510px;
    height: 30px;
  }

 .slider-handle{ 
  width: 30px;
  height: 30px;
  border-width: 2px;
  border-style: solid;
  border-width: 2px;
  border-style: solid;
  }

   .custom-control-label:before {
    pointer-events:none;
    border-width:.125rem;
    border-style: solid;
   }
   .custom-control-input {
    position:absolute;
    left:0;
    z-index:-1;
    width:12px;
    height:12px;
    opacity:0
   }

.add-language-switch{
    margin: 24px;
}

.quiz-button-container{
    padding-left:30%;
    padding-right:30%;
}

.btn-quiz-continue {
    border-radius: 100px !important;
    margin-bottom: 12px;
    max-width:50%;
}

.btn-quiz-answer {
    padding:12px;
    width:100%;
 padding-bottom:12px;
 margin-right: 6px;
 margin-left: 6px;
 white-space: nowrap;
    border-width: 2px;
    border-radius: 100px;
}

.progress {
    margin-left: 24px;
    margin-right: 24px;
    position: relative;
}

.progress-bar {
    flex-direction:column;
    justify-content:center;
    text-align:center;
    white-space:nowrap;
    transition:width .6s ease;
}

.progress-bar-checkpoint {
    position: absolute;
    border-right-style: solid;
    border-right-width: 4px;
    height: 1rem;
    cursor: pointer;
}

.welcome-container {
    margin-top:150px;
}


.footer {   
    position:fixed;
    left:0px;
    padding-top: 12px !important;
    padding-bottom:8px !important;
    bottom:0px;
    width:100%;
 }


.colLeft {
    width: 50%;
    margin-top: 125px;
    top: 50%;
}

.colRight {
    width: 50%
}

.modal-content {
    min-height: 525px;
}

.modal-dialog {
    max-width:40%;
    margin:1.75rem auto
   }

  .center {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }

/*
Unique elements (id)
*/
#bg-rectangle {
    position: absolute;
    width: 800px;
    height: 700px;
    left: 800px;
    top: -80px;
    border-radius: 100px;
    z-index: -1
}

#logoText {
    font-size: 24px !important;
}

#jiriLogo {
    padding: 10px
}

#start-quiz-button {
    margin-top:48px;
}

#dark-mode-toggle {
    position: absolute; 
    right: 0;
    margin-right: 24px;
}

#dark-mode-toggle-icon{
    margin-right: 4px;
}