.bg-primary {
    background-color: #dab9df!important
}

.bg-secondary {
    background-color: #f8e9fb!important
}

.primary-color {
    color: #dab9df !important
}

.secondary-color {
    color: #f8e9fb !important
}

.navbar-brand {
    color: #000000 !important;
    font-family: "FF Real Head" !important
}

.progress-bar {
    flex-direction:column;
    justify-content:center;
    color:#fff;
    text-align:center;
    white-space:nowrap;
    background-color:#a364b6;
    transition:width .6s ease
   }

.welcome-container {
    margin-top:150px;
}

#start-quiz-button {
    margin-top:48px;
}

.footer {   
    position:fixed;
    left:0px;
    padding-top: 12px !important;
    padding-bottom:8px !important;
    bottom:0px;
    width:100%;
    background:#999;
 }

.btn-primary {
    color:#fff;
    background-color:#a364b6;
    border-color:#bd96bd
}
.btn-primary.focus, .btn-primary:focus,.btn-primary:hover {
    color:#fff;
    background-color:#bf7dd3;
    border-color:#5f355f
}
.btn-primary.focus,.btn-primary:focus {
    box-shadow:0 0 0 .2rem rgba(113, 60, 198, 0.5)
}
.btn-primary.disabled,.btn-primary:disabled{
    color:#fff;
    background-color:#1abc9c;
    border-color:#1abc9c
}
.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle {
    color:#fff;
    background-color:#b569cc;
    border-color:#5e3f5e
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color:#2e90e0
}

#jiriLogo {
    padding: 10px
}

.colLeft {
    width: 50%;
    margin-top: 125px;
    top: 50%;
}

.colRight {
    width: 50%
}

#bg-rectangle {
    position: absolute;
    width: 800px;
    height: 700px;
    left: 800px;
    top: -80px;
    background: #F8E9FB;
    border-radius: 100px;
    z-index: -1
}

#logoText {
    font-size: 24px !important;
    color: #111111 !important
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
  color:#fff;
  background:#2e90e0
}


V#streamer-quiz-form > div.steps.clearfix > ul > li {
float: left;
     list-style: none;
     text-align: center;
     background-color: #000000;
     margin-right: 30px;
     width: 150px;
     line-height: 60px;
   }

.wizard,.tabcontrol {
    display: block;
    width: 100%;
    overflow: hidden
}

.wizard a,.tabcontrol a {
    outline: 0
}

.wizard ul,.tabcontrol ul {
    list-style: none!important;
    padding: 0;
    margin: 0
}

.wizard ul>li,.tabcontrol ul>li {
    display: block;
    padding: 0
}

.wizard>.steps .current-info,.tabcontrol>.steps .current-info {
    position: absolute;
    left: -999em
}

.wizard>.content>.title,.tabcontrol>.content>.title {
    position: absolute;
    left: -999em
}

.wizard>.steps {
    position: relative;
    display: block;
    width: 100%
}

.wizard.vertical>.steps {
    display: inline;
    float: left;
    width: 30%
}

.wizard>.steps .number {
    font-size: 1.429em
}

.wizard>.steps>ul>li {
    width: 25%
}

.wizard>.steps>ul>li,.wizard>.actions>ul>li {
    float: left
}

.wizard.vertical>.steps>ul>li {
    float: none;
    width: 100%
}

.wizard>.steps a,.wizard>.steps a:hover,.wizard>.steps a:active {
    display: block;
    width: auto;
    margin: 0 .5em .5em;
    padding: 1em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard>.steps .disabled a,.wizard>.steps .disabled a:hover,.wizard>.steps .disabled a:active {
    background: #eee;
    color: #aaa;
    cursor: default
}

.wizard>.steps .current a,.wizard>.steps .current a:hover,.wizard>.steps .current a:active {
    background: #13709b;
    color: #fff;
    cursor: default
}

.wizard>.steps .done a,.wizard>.steps .done a:hover,.wizard>.steps .done a:active {
    background: #8d549b;
    color: #fff
}

.wizard>.steps .error a,.wizard>.steps .error a:hover,.wizard>.steps .error a:active {
    background: #ff3111;
    color: #fff
}

.wizard>.content {
    /* background: #eee; */
    display: block;
    margin: .5em;
    min-height: 20em;
    overflow: hidden;
    position: relative;
    width: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.wizard.vertical>.content {
    display: inline;
    float: left;
    margin: 0 2.5% .5em 2.5%;
    width: 65%
}

.wizard>.content>.body {
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%
}

.wizard>.content>.body ul {
    list-style: disc!important
}

.wizard>.content>.body ul>li {
    display: list-item
}

.wizard>.content>.body>iframe {
    border: 0 none;
    width: 100%;
    height: 100%
}

.wizard>.content>.body input {
    display: block;
    border: 1px solid #ccc
}

.wizard>.content>.body input[type="checkbox"] {
    display: inline-block
}

.wizard>.content>.body input.error {
    background: #fbe3e4;
    border: 1px solid #fbc2c4;
    color: #8a1f11
}

.wizard>.content>.body label {
    display: inline-block;
    margin-bottom: .5em
}

.wizard>.content>.body label.error {
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em
}

.wizard>.actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%
}

.wizard.vertical>.actions {
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%
}

.wizard>.actions>ul {
    display: inline-block;
    text-align: right
}

.wizard>.actions>ul>li {
    margin: 0 .5em
}

.wizard.vertical>.actions>ul>li {
    margin: 0 0 0 1em
}

.wizard>.actions a,.wizard>.actions a:hover,.wizard>.actions a:active {
    background: #8d549b;
    color: #fff;
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.wizard>.actions .disabled a,.wizard>.actions .disabled a:hover,.wizard>.actions .disabled a:active {
    background: #8d549b;
    color: #aaa
}

.wizard>.loading {
}

.wizard>.loading .spinner {
}
* {
    font-family: "Roboto", sans-serif;
}

  .center {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .card {
    background-color: white;


    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 20px;
    margin: 5px;
    box-shadow: -20px -20px 0px 0px #2e90e0;
    border-radius: 10px;
    -webkit-animation-name: shadow-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: shadow-show;
    animation-duration: 1.5s;
    -webkit-transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
    /* custom */
  }