body {
  overflow: auto;
}

main {
  margin-top: 80px;
}

.submission-header-container {
  margin-bottom: 30px;
}

.submit-channel-text {
  font-style: normal;
  font-weight: bold;
  font-size: 6vw;

  color: var(--text-color-headline);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.channel-condition {
  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  /*line-height: 40px;*/
  /* identical to box height, or 267% */

  /*display: flex;
  align-items: center;
  text-align: center;*/

  color: var(--submission-condition);
}

.form-container input,
.form-container textarea {
  background: #ffffff;
  border: 1px solid #d9a648;
  box-sizing: border-box;
  box-shadow: 4px 4px 15px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  padding: 0 15px;
  outline: none;
}

.form-container input:focus,
.form-container textarea:focus {
  border-radius: 15px;
  border: 2px solid black;
}

.form-container .submit-button {
  background: rgba(242, 156, 185, 0.9);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 5px;
  min-width: 200px;
}

.form-container label {
  color: var(--text-color-headline);
}

.form-container button {
  color: var(--text-color-headline);
}

.text-label {
  color: var(--text-color-headline);
}

.leaderboard-results {
  width: 70%;
  text-align: left;
  border-radius: 10px;
  border-collapse: collapse;
  border-style: hidden;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgb(141, 63, 137);
  text-align: center;
}

.leaderboard-results thead th {
  padding: 15px;
  background-color: rgb(141, 63, 137);
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.leaderboard-results tbody tr {
  color: black;
}

.leaderboard-results tbody tr:hover td {
  background: var(--brand-primary);
}

.leaderboard-results tbody td {
  padding: 15px;
  font-size: 15px;
}

.leaderboard-results tr:nth-child(odd) {
  background: var(--brand-light-pink-2);
}

.leaderboard-results tr:nth-child(even) {
  background: var(--brand-really-light-pink);
}

.ranking-coin-img {
  width: 35px;
  height: 35px;
}

@media (max-width: 768px) {
  .submit-channel-text {
    font-size: 2.5rem;
  }

  .channel-condition {
    font-size: 0.8rem;
  }

  .submission-header-container {
    margin-bottom: 0px;
  }

  .form-container {
    margin-bottom: 100px;
  }

}
