/*

ONLY COLORS IN THIS FILE!! 

This file is for color variables and defining colors for class properties.
Put all other css in the quizstyle.css file

*/
:root{
    /*
    These are "global" colors, and are the basic color pallet that we make the site with.
    Don't hard-code any colors other than in this :root element. 
    Any time we want to change the color of something, change the variable to one of these root colors.
    If the color you want doesn't exist, make a new label for it and add it here. 
    */
    --brand-primary-light: #FFB6D3;
    --brand-primary: #f29cb9;
    --brand-primary-dark:#D983A0;
    --brand-success-dark: #C08D2F;
    --brand-success: #d9a648;
    --brand-success-light: #F3C062;
    --brand-info: #bf7111;
    --brand-warning: #710273;
    --brand-danger: #3f0140;

    --brand-text-color: #710273;


    --pure-white: #fff;
    --pure-black: #000000;
    --light-grey:#adb5bd;
    --dark-grey:#6c757d;

    --brand-really-dark-purple: #120918;
    --brand-dark-pink: #5f355f;
    --brand-med-pink: #bf7dd3;
    --brand-med-pink-2:#856585;

    --brand-light-pink: #DAB9DF;
    --brand-light-pink-2: #d8c2db;
    --brand-xtra-light-pink: #fdf4ff; 
    --brand-really-light-pink: #F8E9FB; 
 
    --brand-button-background: #a364b6;
    --brand-border: #bd96bd;
    --brand-secondary-background: #f6e0fa;
    --brand-btn-primary-focus-dropshadow: rgba(186, 60, 198, 0.5);
    --brand-svg-button-dropshadow: rgba(218, 185, 223, 0.63);
    --brand-continue-button-dropshadow: #dab9dfe7;
    
}

.dark-text-color{
    color:var(--brand-really-dark-purple);
}

.matches-made-text{
    color:var(--brand-success-dark);
}

    
.btn-start-quiz,
.btn-start-quiz:active,
.btn-start-quiz:visited,
.btn-start-quiz:focus {
    background-color: var(--brand-success);
    border-color: var(--brand-success-dark);
}
.btn-start-quiz:hover{
    background-color: var(--brand-success-light);
    border-color: var(--brand-success);
}
.btn-start-quiz{
    margin-top:24px;
    padding-top:8px;
    padding-bottom:8px;
    border-radius: 4px;
}

.btn-dropdown{
    border-radius: 8px;
    border-width:2px;
    background-color: var(--pure-white);
    border-color: var(--brand-text-color);
}

.light-mode {
    /* Default mode is light mode */
    --progress-label-color: var(--brand-dark-pink);
    --h4-text-color: var(--brand-dark-pink);
    --text-color: var(--brand-dark-pink);
    --text-color-inverse: var(--brand-really-light-pink);
    --page-background-color: var(--pure-white);
    --modal-background-color: var(--pure-white);
    --footer-color: var(--brand-really-light-pink);
    --animated-words-label: var(--brand-really-dark-purple);
    --logo-text-color: var(--brand-dark-pink);
    --progress-background-color: var(--brand-really-light-pink);
    --background-square-color: var(--brand-secondary-background);
}

/* When this class is added to the main page element, it changes the variables for the colors */
.dark-mode {
    --progress-background-color: var(--brand-light-pink-2);
    --progress-label-color: var(--brand-really-light-pink);
    --h4-text-color: var(--brand-med-pink);
    --logo-text-color: var(--brand-really-light-pink);
    --animated-words-label: var(--brand-really-light-pink);
    --text-color: var(--brand-really-light-pink);
    --text-color-inverse: var(--brand-dark-pink);
    --page-background-color: var(--brand-really-dark-purple);
    --modal-background-color: var(--brand-really-dark-purple);
    --button-text-color: var(--brand-really-light-pink);
    --footer-color: var(--brand-dark-pink);
    --background-square-color: var(--brand-dark-pink);
}



/*

Set all the colors as css variables
so we can easily change color when 
we change the theme. 

*/
.sphere-lg
{
    background: #710273;
    opacity: 15%;
}
.sphere-med
{
    background:#710273;
    opacity: 11%;
}
.sphere-small
{
    background: #710273;
    opacity: 15%;
}
.page-header{
    background-color: var(--pure-white);
    border-bottom-width: 2px;
    border-bottom-style:solid;
    border-bottom-color: var(--brand-text-color);
    box-shadow:  0 6px 4px -4px rgba(0, 0, 0, 0.164); 
}

.page-footer{
    background-color: var(--pure-white);
    box-shadow:  6px 0 4px 4px rgba(0, 0, 0, 0.233); 
}

.btn span {
    color: var(--button-text-color);
}

#generated-quiz-modal-progress-label{
    color: var(--progress-label-color);
}

h4 {
    color: var(--h4-text-color);
}

body {
    background-color: var(--page-background-color);
}

.modal-content {
    background-color: var(--pure-white);
}

#bg-rectangle {
    background: var(--background-square-color);
}

.dark-text{
    color: var(--brand-really-dark-purple);
}

#copyright-text{
    color: var(--text-color);
}

#keyword {
    color: var(--brand-success);
}

#theme-label {
    color: var(--text-color);
}

.divider-custom.divider-light .divider-custom-icon {
    color: var(--brand-light-pink) !important;
}


#logoText {
    color:var(--brand-text-color);
}

.progress-bar-checkpoint {
    border-right-color: var(--pure-white);
}

.progress-bar {
    color:var(--brand-really-light-pink);
    background-color:var(--brand-med-pink);
}

.language-dropdown {
    color:var(--button-text-color);
    border-color:var(--brand-light-pink);
}

.language-dropdown.focus, .language-dropdown:focus,.language-dropdown:hover {
    color:var(--text-color);
    background-color:var(--brand-light-pink);
    border-color:var(--brand-dark-pink);
}

.language-dropdown:not(:disabled):not(.disabled).active,.language-dropdown:not(:disabled):not(.disabled):active,.show>.language-dropdown.dropdown-toggle {
    color:var(--text-color-inverse);
    background-color:var(--brand-light-pink);
    border-color:var(--brand-light-pink);
}

.slider-selection {
	background: var(--brand-med-pink);
}


.percent-match{
    color: var(--pure-white);
}
.streamer-username{
    color: var(--pure-white);
}

.streamer-info-container {
  
background: linear-gradient(156.04deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
filter: drop-shadow(5px 5px 25px rgba(50, 50, 50, 0.85));
backdrop-filter: blur(100px);
background-color: gray;
    border-color:var(--brand-dark-pink);
}

.svg-buttons {
    filter: drop-shadow(0px 8px 12px var(--brand-svg-button-dropshadow))
}
.svg-buttons:hover svg line {
    stroke: var(--brand-border);
}


.slider-handle{ 
    background: var(--brand-light-pink);
    border-color: var(--brand-med-pink);
    }
  
    .custom-control-input:checked~.custom-control-label:before {
      color:var(--brand-light-pink);
      border-color:var(--brand-dark-pink);
      background-color:var(--brand-light-pink);
     }
     .custom-control-label:before {
     
      background-color:var(--pure-white);
      border-color: var(--light-grey);
     }
 
     .custom-control-input:focus~.custom-control-label:before {
      box-shadow:0 0 0 .2rem var(--brand-btn-primary-focus-dropshadow);
     }
     .custom-control-input:focus:not(:checked)~.custom-control-label:before {
      border-color:var(--brand-dark-pink);
     }
     .custom-control-input:not(:disabled):active~.custom-control-label:before {
      color:var(--pure-white);
      background-color:var(--brand-med-pink);
      border-color:var(--brand-dark-pink);
     }
     .custom-control-input:disabled~.custom-control-label,
     .custom-control-input[disabled]~.custom-control-label {
      color:var(--dark-grey);
     }
     .custom-control-input:disabled~.custom-control-label:before,
     .custom-control-input[disabled]~.custom-control-label:before {
      background-color:var(--light-grey);
     }
  
     .dropdown-item-container{
         background-color: var(--pure-white);
     }
    
.dropdown-menu{
    background-color: var(--pure-white);
}
.footer {   
    background-color:var(--footer-color)!important;
 }

.btn-quiz-continue {
    color:var(--pure-white) !important;
    background-color:var(--brand-light-pink);
    filter: drop-shadow(0px 8px 12px var(--brand-continue-button-dropshadow))
}

.btn-quiz-continue.disabled,.btn-quiz-answer:disabled{
    color:var(--text-color-inverse);
    background-color:var(--light-grey);
    border-color:var(--light-grey);
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.233))
}

.btn-quiz-answer {
    color:var(--text-color);
    border-color:var(--brand-light-pink);
}

.btn-quiz-answer.focus, .btn-quiz-answer:focus,.btn-quiz-answer:hover {
    color:var(--text-color-inverse);
    background-color:var(--brand-light-pink-2);
    border-color: var(--brand-med-pink-2)
}
.btn-quiz-answer.focus,.btn-quiz-answer:focus {
    box-shadow:0 0 0 .2rem var(--brand-btn-primary-focus-dropshadow);
}
.btn-quiz-answer.disabled,.btn-quiz-answer:disabled{
    color:var(--text-color-inverse);
    background-color:var(--light-grey);
    border-color:var(--light-grey);
}
.btn-quiz-answer:not(:disabled):not(.disabled).active,.btn-quiz-answer:not(:disabled):not(.disabled):active,.show>.btn-quiz-answer.dropdown-toggle {
    color:var(--pure-black);
    background-color:var(--brand-light-pink);
    border-color:var(--brand-light-pink);
}

.btn-quiz-restart {
    color: var(--brand-xtra-light-pink);
    background-color: var(--brand-light-pink);
    border-color:var(--brand-light-pink);
    filter: drop-shadow(0px 8px 12px var(--brand-continue-button-dropshadow))
}

